<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"><title>Document</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  <!--Nav Bar-->
  <nav class="navbar navbar-expand-lg ">
    <div class="container">
         <a class="navbar-brand" href="/">Blog</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
            </ul>
        </div>
     </div>
 </nav>

 <!--Carisol-->
<section class="header">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">TECH BLOG</h1>
    <p class="lead">World's best technology forum. Get information about the latest technologies</p>
  </div>
</div>
</section>


 <!--Main Block-->
 <section class="blog-posts py-4">
   <div class="container">              
    <div class="row">
     <div class="col-md-8">
       <article class="blog-post mb-3 ">
         <div class="row">
             <div class="col-sm-12">
              <% articles.forEach(article => { %>
                <div class="card mb-2 card-deck flex-row flex-nowrap">
                  <a href="articles/<%= article.slug %>">
                    <div class="card-body">
                        <h4 class="card-title"><%= article.title %></h4>
                    </div>                    
                </div>
              <% }) %>
              <a href="/articles/new" class="btn btn-success mt-4">New Post</a>
             </div>
         </div>
       </article>
     </div>
     <aside class="col-md-4">
       <!--Social Links-->
       <h4 class="aside-heading mt-4 pl-2">Popular Aurthors</h4>
       <article class="row author mb-3">
         <div class="col-sm-4">
           <img class="img-fluid rounded-circle" alt="" src="image/elon.jpg">
         </div>
         <div class="col-sm-8">
           <h5 class="m-0">Elon Musk</h5>
           <p class="m-0">Elon Musk FRS is a Business magnate, industrial designer, and engineer. He is the founder, CEO, CTO, and chief designer of SpaceX; early stage investor, CEO, and product architect of Tesla, Inc.</p>
        </div>
       </article>
       <article class="row author mb-3">
        <div class="col-sm-4">
          <img class="img-fluid rounded-circle" alt="" src="image/bill-gates.jpg">
        </div>
        <div class="col-sm-8">
          <h5 class="m-0">Bill Gates</h5>
          <p class="m-0">Bill Gates is an American business magnate, software developer, investor, and philanthropist. He is best known as the co-founder of Microsoft Corporation</p>
       </div>
       </article>
       <article class="row author mb-3">
        <div class="col-sm-4">
          <img class="img-fluid rounded-circle" alt="" src="image/sundar.jpg">
        </div>
        <div class="col-sm-8">
          <h5 class="m-0">Sundar Pichai</h5>
          <p class="m-0">Pichai Sundararajan, better known as Sundar Pichai, is an Indian-American business executive. He is the chief executive officer of Alphabet Inc. and its subsidiary Google.</p>
       </div>
      </article>
      
     </aside>

   </div>
  </div>
 </section>

 <!--Footer-->
 <footer class="footer py-4">
     <div class="w-100 text-center credits">
       <p>Made by Sneh Nandu &copy; 2021. All rights reserved.</p>
     </div>
 </footer>


</body>
</html>